dvc==3.67.1
mlflow==3.11.1

pandas==2.3.3
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3
PyYAML==6.0.3
pyarrow==23.0.1

python-dotenv==1.2.2
dotenv-cli==3.4.1

SQLAlchemy==2.0.49
psycopg[binary]==3.3.3

feast[postgres]==0.62.0
